{% extends 'landingpage/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/blogcss.css' %}">

{% endblock styles %}

{% block content %}

<div class="post-detail">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>{{ post.title }}</h1>
        <h2>
        {% for category in post.categories.all %}
            <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a>
        {% endfor %}</h2>
        {% if post.published_date %}
        <div class="date">
          {{ post.published_date }}
          {% endif %} by
          {% if post.author %}
          {{ post.author }}
        {% endif %}
        </div>

            <p id="post-detail-text">{{ post.text|linebreaksbr }}</p>


      </div>

    </div>

  </div>

</div>


            <div class="col-xs-4 col-xs-offset-4">
              {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
            </div>

{% endblock content %}
