@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Raleway:200,300,400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i|Work+Sans:100,200,300,400,500,600,700');

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}




body{

}

hr {
  margin-bottom: 0px !important;
  width: 93% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 1px !important;
  border: none !important;

}

h1 a {
}

h2 a {
  color: #444;
  font-family: "Roboto", sans-serif;

}

h3 {
  font-family: "Lato", sans-serif;
  font-weight:400;
  font-size:1.1em;
  letter-spacing: 1.5px;
  color: #333;
}

li a h3:hover {
  color: #1E88E5;
}


h4 a {
  color: #444;
  font-family: "Roboto", sans-serif;
}

h5 a {
  font-size: 120%;
  color: #1E88E5;
}


.post {
}

html {
  font-size: 16px;
  @media (min-width: 800px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}




.post p {
  font-family: 'San Francisco', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #444;
  line-height: 150%;
  letter-spacing: 150%;
}

.image {
  padding: 0px;
  margin: 0px;
  left: 0;
  top: 0;
}
.post-detail {
  padding-top: 50px;
  padding-bottom: 50px;
}


.post-detail h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 5.063em;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #F64747;
}

.post-detail h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3.375em;
  color: #F64747;

}

.post-detail h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.25em;
  letter-spacing: .5px;
  color: #F64747;

}

.post-detail h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: .5px;

}

.post-detail h5 {
  font-family: "Roboto", sans-serif;
  color: #1E88E5;

}

.post-detail p {
  font-family: 'San Francisco', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #333;
  text-align: left;
  line-height: 175%;
  letter-spacing: 150%;

}

.blog-post {
  background-color: white;
}

#bloghead {
  list-style: none;
  padding-top: 25px;
  margin-left: 30px;

}

#bloghead h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 20px;
  color: #F64747;

}



#bloghead h3 {
  padding-bottom: 20px;
}

#bloghead li a {
  color: black;
}


#blogcontent h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-align: center;
}

#blogcontent {
  padding-top: 30px;
  padding-bottom: 30px;

}

.postcarousel {
  margin-left: 50px;
  margin-right: 50px;
  display: none;
}

.postcarousel .card {
  display: block;
}

.postcarousel.slick-initialized .card {
  display: block;
}

.card-inverse {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-inverse p {
  color: white;
  text-align: center;
  font-weight: 400;
}

.card-inverse h6 {
  text-align: center;
}

.m {

	background: white;
}

.m input {
	font-size: 18px;
	min-height: 59px;
	border-radius: 50px;
	line-height: 24px;
	padding: 16px 30px 20px;
	border: none;
	margin-bottom: 10px;
	background-color: transparent;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.m .subscribe-input {
	float: right;
  color: black;
	width: 93%;
	text-align: left;
}

.m .subscribe-submit {
  position: absolute;
  max-height: 59px;
  right: 12px;
	padding-left: 28px;
}

.page-header {
    padding: 20px 20px 20px 40px;
}


.content {
    margin-left: 40px;
}


.date {
    color: #828282;
    font-size: 15px;
    padding-bottom: 30px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
