@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Bungee|Lato:300,300i,400,400i,700,700i|Raleway:200,300,400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i|Vollkorn:400,400i,700,700i|Work+Sans:100,200,300,400,500,600,700');



.post h1 a {
  font-family: 'Bungee', cursive;
  color: #222;
}

.post h1 {
  font-family: 'Bungee', cursive;
  color: #222;
}

.post p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  text-align: left;
  line-height: 150%;
  letter-spacing: 150%;
  margin-top: -15px
}

.post-detail {
  padding: 50px;
}


.post-detail h1 {
  font-family: 'Bungee', cursive;
  color: #222;
  font-weight: 400;
  font-size: 55px;
  text-align: left;
  padding-bottom: 10px;
}



.post-detail p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  text-align: left;
  line-height: 150%;
  letter-spacing: 150%;

}

.blog-post {
  background-color: white;
}
#bloghead {
  background-color: #fc814a;
}

#bloghead h1 {
  font-family: 'Baloo Thambi', cursive;
  letter-spacing: 2px;
  color: white;

}
.page-header {
    padding: 20px 20px 20px 40px;
}


.content {
    margin-left: 40px;
}


.date {
    color: #828282;
    font-size: 15px;
    padding-bottom: 30px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
