@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Bungee|Lato:300,300i,400,400i,700,700i|Raleway:200,300,400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i|Vollkorn:400,400i,700,700i|Work+Sans:100,200,300,400,500,600,700');


hr {
  margin-bottom: 40px !important;
  width: 93% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 1px !important;
  border: none !important;
  color: #9c9c9c !important;
  background-color: #9c9c9c !important;
}

h1 a {
}

h2 a {
  color: #444;
  font-family: "Roboto", sans-serif;

}

h4 {
  font-family: "Lato", sans-serif;
  font-weight:400;
  font-size:18px;
  letter-spacing: 1.5px;
  color: #333;
}



h5 a {
  font-size: 120%;
  color: #1E88E5;
}


.post {
  padding-top: 10px;
  margin-left: 30px;
}
.post p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  line-height: 150%;
  letter-spacing: 150%;
  margin-top: -15px;
}

.post-detail {
  padding: 50px;
}


.post-detail h1 {
  font-family: 'Bungee', cursive;
  color: #222;
  font-weight: 400;
  font-size: 55px;
  text-align: left;
  padding-bottom: 10px;
}



.post-detail p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  text-align: left;
  line-height: 150%;
  letter-spacing: 150%;

}

.blog-post {
  background-color: white;
}

#bloghead {
  list-style: none;
  padding-top: 10px;
  margin-left: 30px;
}

#bloghead h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #F64747;

}

#bloghead li a {
  color: black;
}



.page-header {
    padding: 20px 20px 20px 40px;
}


.content {
    margin-left: 40px;
}


.date {
    color: #828282;
    font-size: 15px;
    padding-bottom: 30px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
